html {
	background: #3fbaa0;
}

h3 {
	font-size: 50px;
	color: white;
	text-align: center;
}

form {
	text-align: center;
}

input[type=text] {
	width: 25%;
	height: 3rem;
	padding:.5rem;
	font-size: 1.5rem;
}

input[type=button] {
	text-align: center;
	width: 15%;
	height: 3.8rem;
	color:#FFFFFF;
	font-size: 2rem;
	border: 1px solid #3fbaa0;
	background: #298471;
}

input[type=button]:hover {
	background: #0E735E;
}
